<button
  type="button"
  class="btn btn-primary"
  (click)="createRoom()"
  *ngIf="!codeRoom"
>
  Criar sala
</button>

<a class="btn btn-primary" *ngIf="codeRoom" [routerLink]="'/sala/' + codeRoom">
  Acessar sala
</a>

<hr />

<div class="form-field">
  <form
    [class.was-validated]="roomForm.touched"
    [formGroup]="roomForm"
    (ngSubmit)="submitHandler(roomForm)"
  >
    <div class="form-field">
      <input
        formControlName="idRoom"
        placeholder="Código da sala"
        class="form-control"
        required
      />
    </div>
    <button type="submit" class="btn btn-secondary">Entrar</button>
  </form>
</div>
