<nz-card>
  <h2 class="title" nz-typography>Esqueceu sua senha?</h2>
  <p nz-typography>Não se preocupe! Informe seu e-mail e enviaremos um link para redefinição.</p>
  <form nz-form (ngSubmit)="submit()">
    <nz-form-item>
      <nz-form-control [nzSpan]="24">
        <nz-input-group nzPrefixIcon="mail" nzSize="large">
          <input nz-input type="email" [(ngModel)]="email" name="email" placeholder="Digite seu e-mail" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <button type="submit" nz-button nzType="primary" nzBlock [disabled]="!email()">Enviar e-mail</button>
  </form>
  <a routerLink="/auth">Voltar ao início de sessão</a>
  <nz-divider></nz-divider>
  <span nz-typography>Precisa criar uma conta?</span>
  <a routerLink="/auth/sign-up">Crie uma conta</a>
</nz-card>
