<nz-card>
  <h2 class="title" nz-typography>Redefina sua senha</h2>
  <p nz-typography>Escolha uma nova senha segura para acessar sua conta.</p>

  <form nz-form (ngSubmit)="submit()">
    <nz-form-item>
      <nz-form-control [nzSpan]="24">
        <nz-input-group nzPrefixIcon="lock" nzSize="large">
          <input nz-input type="password" name="password" [(ngModel)]="password" placeholder="Digite uma nova senha" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <button nz-button nzBlock nzType="primary">Atualizar senha</button>
  </form>
  <a routerLink="/auth">Voltar ao início de sessão</a>
</nz-card>
