.home {
  height: 100vh;
  display: flex;
  flex-direction: row;
  > .container-image {
    flex: 2;
    background-image: radial-gradient(
      circle at 71.41% 95.91%,
      #4967da 0,
      #084198 50%,
      #001e5b 100%
    );
  }

  > .container-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px 128px;

    .container-login > .badge {
      margin-bottom: 5px;
    }
  }
}

@media (width <= 768px) {
  .home {
    flex-direction: column;
    > .container-image {
      flex: 2;
    }

    > .container-form {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 64px 32px;
    }
  }
}
