.room-page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  > .gradient {
    width: 20px;
    background-image: radial-gradient(
      circle at 71.41% 95.91%,
      #4967da 0,
      #084198 50%,
      #001e5b 100%
    );
  }

  > .wrapper-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    > .header {
      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 45px;

        .text {
          font-weight: 600;
        }
      }
    }

    > .container-page {
      flex: 1;
      display: flex;
      .container {
        display: flex;
        flex: 1;
        .inner-container {
          display: flex;
          flex-direction: column;
          flex: 1;

          .actions {
            flex: 1;
            display: flex;
            justify-content: center;
            gap: 16px;
            align-items: center;
            padding: 20px 0;
          }

          .players {
            flex: 5;
            display: flex;
            gap: 32px;
            flex-wrap: wrap;
            padding: 20px 0;
            justify-content: center;

            .player {
              width: 140px;
              display: flex;
              flex-direction: column;
              gap: 12px;
              .card {
                min-height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;

                .label {
                  font-weight: 600;
                }
              }
            }
          }

          .cards {
            flex: 2;
            display: flex;
            gap: 16px;
            padding: 15px;
            flex-wrap: wrap;

            .card {
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: center;
              min-width: 100px;
              min-height: 50px;
              &:hover {
                box-shadow: var(--bs-box-shadow-lg) !important;
              }

              &.selected {
                border-width: 4px;
              }
            }
          }
        }
      }
    }
  }
}
.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  left: 0;
  top: 0;
  > .modal-body-container {
    padding: 32px;
    background-color: white;
    border-radius: 4px;
    min-width: 320px;
    margin: 20px;
  }
}
